.deductibleouter {
  box-sizing: border-box;
  display: flex;
  width: auto;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 0px;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  flex-flow: column;
  border-radius: 12px;
  margin-top: -2.4em;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  margin: 0;
}
