<div class="text-center pt-5" *ngIf=addressview>
  <div class="mt-5">
    <span class="backtoCpmponent">
      <a (click)="dataservice.backComponent('name')">
        <mdb-icon fas icon="chevron-left"></mdb-icon>
      </a>
    </span>

    <h2 class="p-4 maintitle font-weight-bold">Great to meet you {{name}}! What's your home <br> address?</h2>

    <div class="p-5">
      <div class="row justify-content-center">
        <div class="col-5">
          <form [formGroup]="addressForm" class="p-2">
            <div class="form-row">
              <div class="col-5">
                <select class="browser-default custom-select" (change)="setPincode($event)">
                  <option value=true>Street, City</option>
                  <option *ngFor='let item of citystatelist' value={{item.data}}>
                    {{item.data}}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <input type="text" class="form-control p-3" formControlName="housenumber" placeholder="Housenumber">
              </div>
              <div class="col-3">
                <input type="text" class="form-control p-3" formControlName="pincodedata" placeholder="{{pincodeset}}"
                  [readonly]=true>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <input ngx-google-places-autocomplete [options]='options.componenRestrictions' (onAddressChange)="AddressChange($event)" />
      {{ formattedaddress }}
    </div> -->

    <!-- Next Button -->
    <div class="p-3">
      <button mdbBtn class="buttoneffect m-3 text-white"
        (click)="dataservice.stepsFunction(addressForm.value).address()" [disabled]=disabledaddress_btn>Next</button>
    </div>
  </div>
</div>
