<div class="text-center pt-5">
  <div class="mt-3">
    <h2 class="p-3 maintitle">One sec while I crunch some numbers...</h2>
    <div id="progressdivs">
      <div class="mt-2 mb-2">
        <div style="display:inline-block">
          <span *ngIf=processicon class="textcolor">
            <div class="spinner-border loaderprogress" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
          <span *ngIf=!processicon class="textcolor">
            <mdb-icon fas icon="check"></mdb-icon>
          </span>&nbsp;
          {{processmsg}}
        </div>
      </div>
      <!-- Progress bar -->
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <div class="text-left container loadingcrunch">
        <div class="p-5">
          <p *ngIf=percentage1 class="">Building Age</p>
          <p *ngIf=percentage2 class="">Building Durability</p>
          <p *ngIf=percentage3 class="">Distance From Coast</p>
          <p *ngIf=percentage4 class="">Fire Station Proximity</p>
        </div>
      </div>
    </div>
  </div>
</div>
