#progressdivs{
  position: relative;

}
#myProgress {
  width: 50%;
    background-color: grey;
    display: table;
    margin: auto;
    border-radius: 29em;
    position: relative;
    height: 0.5em;
}

#myBar {
  width: 1%;
  background-color:var(--accent1);
  border-radius: 29em;
  position: relative;
  height: 0.5em;
}

.textcolor{
  color:var(--accent1);
}

.loaderprogress{
  position: relative;
    left: -10em;
    height: 1.3em;
    width: 1.3em;
}

.imgsrc{
  position: relative;
  width: 11em;
  height: -12em;
  padding: 7em;
  padding: 0em;
}
