.footersection{
  box-sizing: border-box;
  background-color: rgb(40, 40, 40);
}
.languagedrop{
  position: inherit;
  background-color: var(--accent2);
  border-radius: 5px;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  line-height: 2.1rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  white-space: pre;
  text-align: left;
  outline: none;
  padding: 0px 8px;
  width:22.5em;
  transition: background-color 0.2s ease 0s;
}
.footerlang_dropdown{
  width:10em;
}
.dropdown{
  background-color: rgb(40, 40, 40);
}
.dropdown-item{
  background-color: rgb(40, 40, 40);
}
.dropdown-item:hover{
  background-color:gray;
}
.footertitle{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: rgb(183, 183, 183);
    text-transform: uppercase;
}
.footertexts{
  color: rgb(255, 255, 255);
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
#footerbottomtext{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: rgba(183, 183, 183, 0.5);
  white-space: pre-wrap;
}
.centerstyle{
  margin:auto;
  display:table
}
