.titlecolor{
  color: rgb(74, 74, 74);
  display: table;
  margin:auto;
  font-size: 3rem;
  line-height: 1.3;
  font-family: Merriweather, Georgia, serif;
  font-weight: 5000;
}
.cotitle{
  text-align: center;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-weight: 4000;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: rgb(74, 74, 74);
}
.img{
  display: table;
  margin: auto;
}
.imgsrc{
  position: relative;
  width: 51em;
  padding:7em;
  padding: 3em;
}
.cardrating{
  margin: 15px;
  display: table-cell;
  flex-direction: column;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 12px 0px, rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: content-box;
}
