.cotitle {
  text-align: center;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 4000;
  font-size: 1.1rem;
  line-height: 1.5em;
  color: var(--text1-accent);
}
.playdiv {
  margin: auto;
  display: table;
}
.tranparent_el {
  background: transparent;
}
#leftcontenttop {
  position: relative;
  top: 1.8em;
}
.instantimg {
  font-size: 2em;
  padding: 0.6em;
}
#instantcontent {
  position: relative;
  top: 3em;
  display: table;
  margin: auto;
}
.imginstant {
  display: inline-block;
}
.cvXITO {
  background-color: black;
}

#leftarrow {
  position: relative;
  left: 6.5em;
}
#rightarrow {
  position: relative;
  right: 1em;
}
