<div class="text-center pt-5">
  <div class="mt-5">
    <h2 class="maintitle">When was your house built?</h2>
    <div class="row justify-content-center p-2 mt-5">
      <div class="col-lg-2 col-xs-4">
        <div class="form-row">
          <form class="col" [formGroup]="yearForm">
            <input mdbInput type="number" class="form-control p-4" placeholder="Enter Year" formControlName="builtyear">
          </form>
        </div>
      </div>
    </div>

    <div class="p-2 mt-4">
      <button mdbBtn class="{{(!yearForm.valid) ? 'disablestyle':'buttonstyle'}}" mdbWavesEffect (click)="clicked()" [disabled]="! yearForm.valid">Next</button>
    </div>
  </div>
</div>
