
.iconimgtop {
  height: 3.8em;
  width: 3.8em;
  z-index: 1038;
  position: fixed;
  overflow: hidden;
  border-radius: 5em;
  top: 3.9em;
}
.iconimgtop_scroll{
  height: 3em;
  width: 3em;
  z-index: 1038;
  position: fixed;
  overflow: hidden;
  border-radius: 5em;
  top: 1.5em;
}
.fixedheader {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
  z-index: 2;

}
.bottomborder{
  border-bottom: 0.1em solid var(--accent2);
}

.linkindex {
  z-index: 3000;
}
#centerlogo{
  display: table;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin: auto;
}


.startovercancel{
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    padding: 15px 70px 15px 70px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: all 0.3s ease 0s, transform 0.5s ease 0s;
    background-color: var(--accent4);
    // box-shadow: '#{$accent1}bb'

}
#navbarid{
  border-bottom: 0.4em solid red !important;
}
.navbrandtop{
  position: relative;
  display:inline-block
}

.navlistleft{
  color:var(--accent2) !important
}

.centerlogo_before{
   font-size: 3.5em;
   line-height: 1.5em;
}
.centerlogo_after{
   font-size:2em;
   line-height: 1.5em;
}
