#navbarid{
  box-shadow: 0 0px 0px 0 rgba(231, 224, 224, 0) !important;
  font-weight: 300;
}
.bottomborder{
  border-bottom: 0.1em solid var(--accent2);
}
.iconimgtop {
  height: 4.3em;
  width: 4.3em;
  z-index: 1038;
  position: relative;
  overflow: hidden;
  border-radius: 5em;
  top: 1.9em;
}
.fixedheader {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
  z-index: 2;

}
.linkindex {
  z-index: 3000;
}
#centerlogo{
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}
.logoscroll_before > img{
  height:3em;
}
.logoscroll_after > img{
  height:1.5em;
}

.startovercancel{
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    outline: none;
    text-decoration: none;
    padding: 15px 70px 15px 70px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: all 0.3s ease 0s, transform 0.5s ease 0s;
    background-color: var(--accent2);

}
.navbrandtop{
  position: relative;
  display:inline-block
}
