<div class="fixedheader">
  <mdb-navbar id="navbarid" SideClass="navbar navbar-expand-lg navbar-dark white p-3" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,.16) !important"
    [containerInside]="false">
    <mdb-navbar-brand>
      <div class="navbrandtop">
        <app-sidenav></app-sidenav>
      </div>
      <div class="navbrandtop">
        <span *ngIf="router.url !== '/home'">
          <img src="assets/logo.svg" alt="">
        </span>
      </div>
    </mdb-navbar-brand>
    <div id="centerlogo">
      <img *ngIf="router.url === '/home'" src="assets/logo.svg" alt="" height="30em">
    </div>
    <links>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item linkindex" *ngIf="router.url !== '/home'">
          <a class="nav-link text-dark" mdbTooltip="Start Over" placement="bottom" (click)="resetmodal.show()">
            <mdb-icon fas icon="undo"></mdb-icon>
          </a>
        </li>
        <li class="nav-item linkindex" *ngIf="router.url !== '/home'">
          <a class="nav-link text-dark">
            <mdb-icon far icon="question-circle"></mdb-icon>
          </a>
        </li>
        <li class="nav-item linkindex" *ngIf="router.url === '/home'">
          <a class="nav-link text-dark">
            My Account
          </a>
        </li>
        <li class="nav-item linkindex" *ngIf="showpricebtn">
          <a class="nav-link text-white buttonstyle" routerLink="/product" style="width:auto">
            CHECK OUR PRICES
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
  <div class="row justify-content-center" style="position: relative;top:-4.7em;" *ngIf="router.url !== '/home'">
    <div class="col-1">
      <img class="iconimgtop" src="assets/Maya-79af77d3c1e0abe54a4a8f349950ec6b23457716b5361568851546d1cb5c3643.jpg"
        alt="">
    </div>
  </div>
</div>



<div mdbModal #resetmodal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border border-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetmodal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5 class="p-2 font-weight-bold">WANT TO START OVER?</h5>
        <p class="p-2">This will clear your answers and start again from the beginning</p>
      </div>
      <div class="modal-footer border border-white">
        <div class="divcenter">
          <button type="button" mdbBtn  class="waves-light font-weight-bold startovercancel" aria-label="Close"
            (click)="resetmodal.hide()" mdbWavesEffect>CANCEL</button>
          <button type="button" mdbBtn class="relative text-white waves-light buttonstyle"
            (click)="ds.domFunction('reset'); resetmodal.hide()" mdbWavesEffect>START OVER</button>
        </div>
      </div>
    </div>
  </div>
</div>
