<div class="fixedheader p-1 bottomborder">
  <mdb-navbar SideClass="navbar navbar-expand-lg z-depth-0" [containerInside]="false">
    <mdb-navbar-brand>
      <div class="mt-3 mr-3">
        <span>
          <img id="navbrandtopimg" src="assets/logo1.png" alt="">
        </span>
      </div>
    </mdb-navbar-brand>

    <links class="text-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item linkindex" *ngFor='let item of ds.navlinks'>
          <a class="nav-link waves-light" [routerLink]='' mdbWavesEffect>{{item}}</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item linkindex">
          <a class="nav-link" mdbTooltip="Start Over" placement="bottom" (click)="resetmodal.show()">
            <mdb-icon fas icon="undo"></mdb-icon>
          </a>
        </li>
        <li class="nav-item linkindex">
          <a class="nav-link">
            <mdb-icon far icon="question-circle"></mdb-icon>
          </a>
        </li>
        <li class="nav-item z-depth-2 linkindex" *ngIf="showbackquote">
          <a class="nav-link text-white buttonstyle buttstyle2" (click)="clicked()" style="width:auto">BACK TO YOUR
            QUOTE</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <div class="divcenter iconimgtop">
    <img *ngIf="router.url !== '/home'" class="{{(centerimg_scroll)? 'iconimgtop_before': 'iconimgtop_after'}}"
      src="assets/Maya-79af77d3c1e0abe54a4a8f349950ec6b23457716b5361568851546d1cb5c3643.jpg" alt="">
  </div>
</div>
<div id="hiddenBehind" style="height: 6em; width: 100%;"></div>

<div mdbModal #resetmodal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border border-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetmodal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5 class="p-2 font-weight-bold">WANT TO START OVER?</h5>
        <p class="p-2">This will clear your answers and start again from the beginning</p>
      </div>
      <div class="modal-footer border border-white">
        <div class="divcenter">
          <div class="celltable">
            <button type="button" mdbBtn class="waves-light font-weight-bold startovercancel" aria-label="Close"
              (click)="resetmodal.hide()" mdbWavesEffect>CANCEL</button>
          </div>

          <div class="celltable">
            <button type="button" mdbBtn class="relative text-white waves-light buttonstyle"
              (click)="ds.domFunction('reset'); resetmodal.hide()" mdbWavesEffect>START OVER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
