.fixedheader {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 6em;
  z-index: 2;
  background-color: var(--accent1) !important;
}
.fixedheader_beforescroll {
  background-color: var(--accent1) !important;
}

#centerlogo {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  height: auto !important;
  left: 50%;
  top: 2px !important;
  transform: translateX(-50%);
}
.logoscroll_before > img {
  height: 4em;
  top: 0.6em;
  position: relative;
}

.nav-link {
  color: var(--accent2) !important;
  // position: relative;
}
.nav-link:hover {
  color: var(--accent1-5) !important;
}
.linkindex {
  z-index: 3000 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.logoscroll_after > img {
  height: 3em;
  top: 0.9em;
  bottom: 0.5em;
  position: relative;
}

.startovercancel {
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  outline: none;
  text-decoration: none;
  padding: 15px 70px 15px 70px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  transition: all 0.3s ease 0s, transform 0.5s ease 0s;
  background-color: var(--accent2);
}
#navbrandtopimg {
  height: 3em;
  width: 3em;
  top: 2em;
}

.bottomborder {
  border-bottom: 0.2em solid var(--accent2);
  background-color: white;
}

.iconimgtop {
  position: relative;
  z-index: 2;
  overflow: hidden;
  top: -2em;
}
.iconimgtop_before {
  height: 5rem;
  width: 5rem;
  top: 3em !important;
  border-radius: 5em;
}
.iconimgtop_after {
  height: 3rem;
  width: 3rem;
  top: 2em !important;
  border-radius: 5em;
}

.centerlogo_before {
  font-size: 3.5em;
  line-height: 1.5em;
}
.centerlogo_after {
  font-size: 2em;
  line-height: 1.5em;
}
.celltable{
  display: inline-block;
}
