<div class="mainsection">
  <div class="quotessections">
    <div class="row justify-content-center mt-5">
      <div class="col-7">
        <div *ngFor="let item of quotespages.data | keyvalue" class="bg-white m-2">
          <div class="watermark">
            <div class="watermarktext">{{quotespages.watermark | uppercase}}</div>
          </div>

          <div *ngIf=item.value.headerlogo>
            <div class="row justify-content-center headerLogo">
              <div class="col-2">
                <img id="imgstyle" src={{item.value.headerlogo}} alt="">
              </div>
            </div>
          </div>

          <div class="text-center" id="belowlogo">
            <div class="row justify-content-center">
              <div class="col-5 pl-4 pr-5">
                {{item.value.tlogotext}}
              </div>
            </div>
          </div>

          <div *ngIf=item.value.detail class="page2detail">
            <div class="container">
              <div class="row">
                <div class="col-4 p-3" *ngFor="let spdetail of item.value.detail | keyvalue">
                  <span class="ptdetail">{{spdetail.value.title}}</span><br>
                  <span class="ptrecord">{{spdetail.value.dettailvalue}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="pagecontent">
            <div class="pagetitle mt-5 text-center">
              <h1 *ngFor="let el of item.value.pagetitle">
                {{el | json}}
              </h1>
              <h4 class="p-5 text-center">
                {{item.value.pagetitle}}
                <span>{{item.value.text1}}</span><br><br>
                <span>{{item.value.text2}}</span>
              </h4>
            </div>
          </div>

          <div class="pagegape"></div>

          <div class="pagefooter">
            <div class="row justify-content-center">
              <div class="col-2" *ngIf=item.value.footerlogo>
                <img src={{item.value.footerlogo}} alt="">
              </div>
            </div>
            <div class="text-center footertext">{{item.value.footertext1}}</div>
            <div class="mt-3 mb-4 text-center footertext">{{item.value.footertext}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
