.footersection{
  box-sizing: border-box;
  background-color:var(--accent3);
}
.footertitle{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: var(--text3-accent);
    text-transform: uppercase;
}
.footertexts{
  color: var(--textbtn-accent);
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
.footertexts:hover {
  color: var(--accent1-5) !important;
}

.footerlang_dropdown{
  width:10em;
}
.dropdown{
  background-color:var(--accent3);
}
.dropdown-item{
  background-color:var(--accent3);
}
.dropdown-item:hover{
  background-color:gray;
}

#footerbottomtext{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: var(--accent1-5);
  opacity: 0.5;
  white-space: pre-wrap;
}
.centerstyle{
  margin:auto;
  display:table
}

/*---------------------------------------select---------------------------------------*/

.select-wrapper {
  position: relative;
  border: 0.01em solid white;
  border-radius: 0.3em;
  width: 70%;
  height: auto;
  // Dropdown icon
  &::after {
    color: white;
    content: "▾";
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
  }
}
.select-wrapper :hover {
  background-color: var(--text1-accent);
}

// Default state
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--accent3);
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 0.9em;
  &:focus {
    color: white;
  }
  // Hack for IE 11+
  &::-ms-expand {
    display: none;
  }
}

