<div class="footersection">
  <div class="row p-5">
    <div class="col-2"></div>
    <div class="col-2">
      <p class="footertitle">FEATURES</p>
      <p><a href="" class="footertexts">Giveback</a></p>
      <p><a href="" class="footertexts">Claims</a></p>
      <p><a href="" class="footertexts">Policy 2.0</a></p>
      <p><a href="" class="footertexts">Homeowners Insurance</a></p>
    </div>
    <div class="col-2">
      <p class="footertitle">RESOURCES</p>
      <p><a href="" class="footertexts" >Blog</a></p>
      <p><a href="" class="footertexts" >FAQ</a></p>
      <p><a href="" class="footertexts" >Transparency</a></p>
      <p><a href="" class="footertexts" >Where We're Live</a></p>
      <p><a href="" class="footertexts" >Insurance Dictionary</a></p>
    </div>
    <div class="col-2">
      <p class="footertitle">Company</p>
      <p><a href="" class="footertexts">Join the Team</a></p>
      <p><a href="" class="footertexts">Legal Stuff</a></p>
      <p><a href="" class="footertexts">Privacy Pledge</a></p>
      <p><a href="" class="footertexts">Terms of Service</a></p>
    </div>
    <div class="col-4">
      <div>
        <p class="footertitle">REGION</p>
        <div class="select-wrapper">
          <select class="select rounded mb-1 form-control">
            <option value="footerregion" selected>
              <span class="smallcode">{{footerregion.code | uppercase}}</span> &nbsp;
              {{footerregion.language |uppercase}}
            </option>
            <option value={{slitem.language}} *ngFor="let slitem of footerregionarray">
              <span class="smallcode">{{slitem.code | uppercase}}</span>
              &nbsp;
              {{slitem.language |uppercase}}
            </option>
          </select>
        </div>
      </div>
      <div>
        <p class="footertitle">FOLLOW US</p>
      </div>
    </div>
  </div>
  <div class="centerstyle">
    <p id="footerbottomtext">
      Insurance provided by Oursurplus Insurance Company, 5 Crosby St. 3rd floor, New York, NY 10013<br>
      Oursurplus Insurance Agency (LIA) is acting as the agent of Oursurplus Insurance Company in selling this insurance policy. It receives compensation based on the premiums for the <br> insurance policies it sells. Further information is available upon request.
    </p>
  </div>
</div>
