<div class="quotesdetail pt-5" *ngIf=quotesdetailView>
  <div class="mt-5">
    <app-quotes-ainsurance></app-quotes-ainsurance>
    <app-quotes-bcoverageamount></app-quotes-bcoverageamount>
    <app-quotes-chighvalueitem></app-quotes-chighvalueitem>
    <app-quotes-dcoveragesuperpowers></app-quotes-dcoveragesuperpowers>
    <app-quotes-ewhatscoverd></app-quotes-ewhatscoverd>
    <app-quotes-fdeductible></app-quotes-fdeductible>
    <app-quotes-gnotcovered></app-quotes-gnotcovered>
    <app-quotes-hlinkpolicy></app-quotes-hlinkpolicy>
    <app-quotes-iactiveinsurance></app-quotes-iactiveinsurance>
  </div>
</div>
