<section class="deductibleouter p-5">
  <div class="row justify-content-center p-5">
    <div class="col-9">
      <h2 class="cardtitle text-center pt-4">Choose Your Deductible</h2>
      <div class="text-center">

          <div class="childtitlecolor font-weight-bold">
            <div class="p-2">
              <label style="color:#4A4A4A;font-size: 0.4em;" class="pr-2">Deductible</label>
              <div class="btn-group" mdbDropdown>
                <button mdbDropdownToggle mdbBtn color="white" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>0 €</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                </div>
              </div>
            </div>
          </div>

      </div>
      <div class="text-center ml-4 mr-4 mb-3">
        <div class="ml-2 mr-2 pt-4">
          <p style="font-size: 0.7em;color: #4A4A4A;">This is the amount that will deducted from any claim payment you may receive. For example , choosing a 300 € deductible means that if you file claim for 3000 € and it's approved we will pay you 2,700 €. </p>
        </div>
      </div>
    </div>
  </div>
</section>
