<div class="lightbghome">
  <h1 class="maintitle pt-5">
    Contents and Liability Insurance<br>Built For the 21st Century
  </h1>
  <p class="cotitle pt-4">
    OurInsurer's coverage protects you and the stuff you own at home<br>
  </p>
  <!-- <div class="imgbg"></div> -->
  <div class="pt-5 pb-5">
    <div class="row justify-content-between">
      <div class="col-5 pl-4">
        <div id="imgbgleft"></div>
      </div>
      <div class="col-5 pr-4">
        <div id="imgbgright"></div>
      </div>
    </div>
    <!-- <div class="imgbg"></div> -->
  </div>
</div>
