.imgbg{
  box-sizing: border-box;
  height: 34em;
  width:auto;
  background: url("../../../assets/bg-living-room-7104315b717f054f8668c9446cfcc09f.svg") 71% 100% no-repeat;
  background-size: cover;
}