.titlecolor{
  color: rgb(74, 74, 74);
  display: table;
  margin:auto;
  font-size: 3rem;
  line-height: 1.3;
  font-family: Merriweather, Georgia, serif;
  font-weight: 5000;
}
.cotitle{
  text-align: center;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-weight: 4000;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: rgb(74, 74, 74);
}
#imgbgleft{
  height: 20em;
  width: 100%;
  background-image: url('../../../assets/h04left.jpg');
  border:0.1em solid black
}
#imgbgright{
  height: 20em;
  width: 100%;
  background-image: url('../../../assets/h04right.jpg');
  border:0.1em solid black
}
