<div class="pt-5 text-center">
  <div class="mt-4">
    <h2 class="p-3 maintitle font-weight-bold">Do you have any of the following in your<br> home?</h2>
    <div class="container mt-3 p-3">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-xs-4 text-center" *ngFor='let item of securitytype | keyvalue'>
          <div class="iconsize">
            <div class="containers">
              <img class="iconimg" src="{{item.value.selectedview ? item.value.imgactive : item.value.img}}" (click)="changed(checkboximg)"/>
              <input #checkboximg type="checkbox" class="checkbox" name="{{item.key}}" [checked]="!item.value.selectedview" />
            </div>
          </div>
          <div>
            <h6 style="color: rgb(74, 74, 74);font-family: Merriweather, Georgia, serif;">{{item.key | uppercase}}
            </h6>
          </div>
          <div class="">
            <input type="checkbox" name="{{item.key}}" [checked]="item.value.selectedview"
              (change)="changed($event.target)">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <button mdbBtn class="buttonstyle" (click)="clicked()">Next</button>
    </div>
  </div>
</div>
