<div class="lightbghome">
  <div class="p-2">
    <div class="row pl-5 pr-5">
      <div class="col-6 p-5">
        <div class="row p-4">
          <div class="col-4">
            <img src="assets/b-corp-26137057ac2f0e14e0c1587184eecfa0.png" class="labelstyle" alt="">
          </div>
          <div class="col-8">
            <div class="text-left">
              <h4 class="lctitle">Designed for Social Impact</h4>
              <h6 class="lctext">
                Lemonade Inc. is a Public Benefit Corporation and certified B-Corp. Social impact is part of our legal mission and business model - not just marketing fluff.
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 p-5">
        <div class="row p-4">
          <div class="col-4">
            <img src="assets/a-rated-41eeddcf63e384d121834de726720ae9.png" class="labelstyle" alt="">
          </div>
          <div class="col-8">
            <div class="text-left">
              <h4 class="lctitle">A-Rated and Backed by Giants</h4>
              <h6 class="lctext">
                Lemonade is rated A-Exceptional, fully licensed, and reinsured by some of the most trusted names on the planet.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
