<div class="secondbg_color">
  <div class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-6 p-2">
          <div class="row p-5">
            <div class="col-4">
              <img src="assets/b-corp-26137057ac2f0e14e0c1587184eecfa0.png" class="licensedimg" alt="">
            </div>
            <div class="col-8" style="color:var(--text1-accent);">
              <h5 class="fontbold">Designed for Social Impact</h5>
              <h6>OurInsurer Inc. is a Public Benefit Corporation and certified B-Corp. Social impact is part of our
                legal
                mission and business model - not just marketing fluff.</h6>
            </div>
          </div>
        </div>
        <div class="col-6 p-2">
          <div class="row p-5">
            <div class="col-4">
              <img src="assets/a-rated-41eeddcf63e384d121834de726720ae9.png" class="licensedimg" alt="">
            </div>
            <div class="col-8" style="color:var(--text1-accent);">
              <h5 class="fontbold">A-Rated and Backed by Giants</h5>
              <h6>OurInsurer is rated A-Exceptional, fully licensed, and reinsured by some of the most trusted names on
                the planet.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
