<section>
  <div class="coverageouter p-4">
    <h3 class="test-center textdata text-bold p-4">Coverage Amount</h3>
    <div class="row p-5">
      <div class="col-xl-4 col-lg-4 col-sm-12 col-xs-12 mb-4" *ngFor="let item of coverageAmount | keyvalue: asIs">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center"><a>{{item.key}}</a></h5>
            <h6 class="card-text text-center p-2" style="min-height: 6em;">{{item.value.text}}</h6>
          </div>
          <hr class="">
          <div class="mt-2 p-2">
            <div class="row pl-4 pb-3 pr-4">
              <div class="col-2 text-center">
                <a (click)="cvrgCalculation(item.key,'-')"><mdb-icon class="circlemainupulate btn_hover" fas icon="minus"></mdb-icon></a>
              </div>
              <div class="col-8">
                <input type="number" class="border border-white text-center custom-center" value="{{item.value.price}}" readonly min="{{item.value.minvalue}}">
              </div>
              <div class="col-2 text-center">
                <a (click)="cvrgCalculation(item.key,'+')"> <mdb-icon class="circlemainupulate btn_hover" fas icon="plus"></mdb-icon></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
