<section class="termpolicy">
  <div class="">
    <div class="row justify-content-center pt-5">
      <div class="col-7 pt-5">
        <h2 class="maintitle">
          The World's First Open Source Policy!
        </h2>
        <div class="pr-2 pl-2">
          <h5 class="cardtext msg_text pr-5 pl-5 text-center">
            Our Open Source Policy is unlike any other insurance document out there, and was created as a first-of-its-kind collaboration project by us and the community in an effort to create a simplified, modernized, and digitized document everyone can read and understand.
          </h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="text-center">
          <a href="https://www.lemonade.com/de/en/policy-two" class="policytarget" target="_blank">
            Read Our Open Source Policy
          </a>
        </div>
        <div class="p-1">
          <div class="open-policy-placeholder">
            <h3 class="msg_poicy">Welcome To Lemonade</h3>
            <span class="open-policy-placeholder-content"></span>
            <span class="open-policy-placeholder-content"></span>
            <span class="open-policy-placeholder-content short"></span>
            <div class="open-policy-ribbon-container">
              <div class="open-policy-ribbon">open source policy</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
