<div class="pt-5 text-center" *ngIf=memberview>
  <div class="mt-4">
    <span class="backtoCpmponent">
      <a (click)="dataservice.backComponent('sequrity')">
        <mdb-icon fas icon="chevron-left"></mdb-icon>
      </a>
    </span>

    <h2 class="p-2 maintitle font-weight-bold">Who else lives in your home ?</h2>

    <div class="container p-2">
      <div class="row justify-content-center">
        <div class="col-2 mt-3 p-2 text-center" *ngFor='let items of membertypelist'>
          <div class="">
            <img class="iconimg" *ngIf=!items.selectedview src='{{items.img}}'>
            <img class="iconimg" *ngIf=items.selectedview src='{{items.imgactive}}'>
          </div>

          <div>
            <span style="font-size:0.7em">{{items.title | uppercase}}</span>
          </div>

          <div class="form-check form-check-inline p-3">
            <input class="form-check-input" type="radio" (click)="memberLogic($event.target, items)" name="members"
              id={{items.type}} value={{items.type}}>
            <label class="form-check-label" for={{items.type}}></label>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-2">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="messagepart messagetitle" *ngIf=messageshow>
            <span *ngFor="let items of membertypelist">
              {{(items.type === messagecheck) ? items.message : ''}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2">
      <button mdbBtn class="buttoneffect m-3 text-white"
        (click)='dataservice.stepsFunction(about_members).memberinhome()' [disabled]=disabled_btn>Next</button>
    </div>
  </div>
</div>
