.messagepart{
    box-sizing       : border-box;
    display          : flex;
    -webkit-box-align: center;
    align-items      : center;
    background-color : rgb(247, 247, 247);
    box-shadow       : rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
    font-family      : Lato, "Helvetica Neue", Arial, sans-serif;
    line-height      : 1.3;
    font-weight      : 400;
    flex-flow        : column;
    border-radius    : 12px;
    padding          : 29px 38px;
    margin           : 20px;
}
.messagetitle{
    font-family: 30px Lato, "Helvetica Neue", Arial, sans-serif;
    color      : #4A4A4A;
}
