<div class="h10divsection">
  <div class="divcenter">
    <h1 class="maintitle mb-2">Which would you like?</h1>

    <div class="contentproduct" *ngFor='let item of producttype | keyvalue: asIs'>
      <img class="iconimg divcenter" (click)="changed(item.key)" src="{{item.value.selectedview ? item.value.imgactive : item.value.img}}">
      <!-- <mdb-icon far icon={{items.icon}} class="textcolor"></mdb-icon> -->
      <div class="">
        <span style="font-size:0.9em">{{item.key | uppercase}}</span>
      </div>
      <div class="divcenter">
        <div class="form-check form-check-inline p-3">
        <input class="form-check-input" type="radio" name="typeHomeoption" id={{item.key}} value={{item.key}}
          [checked]="item.value.selectedview" (change)="changed(item.key)">
        <!-- <label class="form-check-label" for={{item.key}}></label> -->
        </div>
      </div>
    </div>

    <div class="p-2 mt-4 divcenter">
      <button mdbBtn class="buttonstyle text-white" (click)='clicked()' [disabled]=buttDisabled>Next</button>
    </div>
  </div>
</div>
