<section>
  <div class="p-4">
    <h2 class="cardtitle p-2 text-center">What's Not Covered</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-1">
          <img class="iconimg radiusbg rounded-circle mt-5 text-center"
            src="https://www.lemonade.com/assets/web_chat/roommates-7e5da62bb99673fdee224f604f499a0de59ce934a0d65a1f193453cf4185892f.png"
            alt="">
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-6">
          <div class="text-center mt-3">
            <h5 class="childtitlecolor">ROOMMATES</h5>
            <small class="cardtext" style="color:rgb(183, 183, 183);">
              Our policy does not cover your roommates stuff They ill need to get their own insurance to be covered
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
