  <div class="text-center pt-5">
  <div class="mt-4">

    <h2 class="p-3 maintitle">Hey! I'm Maya. I'll get you an awesome<br> price in seconds. Ready to go?
    </h2>
    <div class="divcenter p-4">
      <form [formGroup]="profileForm">
        <div class="form-row p-2">
          <div class="col">
            <input mdbInput type="text" class="form-control p-4 inputtexthover" formControlName="firstName"
              placeholder="First name">
          </div>
          <div class="col">
            <input mdbInput type="text" class="form-control p-4 inputtexthover" formControlName="lastName"
              placeholder="Last name" (keydown.enter)="clicked()">
          </div>
        </div>
      </form>
    </div>

    <div class="whitetext p-3">
      <button mdbBtn class="{{(!profileForm.valid) ? 'disablestyle':'buttonstyle'}}" (click)="clicked()"
        [disabled]="! profileForm.valid"> LETS DO THIS</button> <br>
    </div>
  </div>
  </div>
