<section class="p-4">
  <div class="row justify-content-center">
    <div class="col-5">
      <h2 class="cardtitle p-2 text-center">What's Not Covered</h2>
      <div class="text-center mt-5">
        <img class="notcoveredIcon radiusbg rounded-circle mt-4 text-center"
        src="assets/roommates-7e5da62bb99673fdee224f604f499a0de59ce934a0d65a1f193453cf4185892f.png"
        alt="">
        <div class="mt-4">
          <h6 class="childtitlecolor font-weight-bold">ROOMMATES</h6>
        </div>
      </div>
      <div class="text-center border border-white ml-4 mr-4">
        <div class="ml-4 mr-4">
          <small class="cardtext" style="color:rgb(183, 183, 183);">
            Our policy does not cover your roommates stuff They ill need to get their own insurance to be covered
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
