#bannerbg{
  background-image: url('../../../assets/bg-clouds-2-6dcdd0a252148447204022d42385e0df.png');
  height: auto;
}
#gradient{

  background-image: linear-gradient(to bottom,  var(--accent1), white);
}
.cotitle{
  color: var(--text1-accent);
  font-family: var(--fontfamily);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 4em;
}


#homebtn{
  position: relative;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
  font-size: 13px;
  border-radius: 5px;
  color: var(--textbtn-accent) !important;
  background-color: var(--accent1);
  box-shadow: var(--accent1);
  margin: auto;
  display: table;
  z-index: 1;
  margin-top: 0em;
}
#bannerimgleft {
  float:left;
  background-image: url('../../../assets/home-left-35e4ff48b1abcefd87e665c7ae7d9945.svg');
  height: 28em;
    width: 124%;
    left: -14.2em;
    position: relative;
    top: -6em;
}
#bannerimgright{
  float:right;
  background-image: url('../../../assets/home-right-8e4273250df741758be48d9efb95ff1a.svg');
  height: 28em;
  width: 100%;
  right: -6.2em;
  position: relative;
  top: -6em;
}
