<div id="bannerbg">
  <div class="d-flex flex-row mt-5 w-100 position-absolute">
    <img src="assets/home-left-35e4ff48b1abcefd87e665c7ae7d9945.svg">
    <div class="pt-5 flex-grow-1"></div>
    <img src="assets/home-right-8e4273250df741758be48d9efb95ff1a.svg">
  </div>
  <marquee behavior="scrolling" direction="left" class="position-absolute" scrollamount="2">
    <img src="assets/bg-clouds-2-6dcdd0a252148447204022d42385e0df.png" style="height: 20em;">
  </marquee>

  <div class="d-flex flex-row pt-5">
    <div class="flex-grow-1"></div>
    <div class="pt-5" style="z-index:1">
      <h1 class="maintitle">Forget Everything You<br>Know About Insurance</h1>
      <p class="cotitle">Instant everything. No brainer prices. Big heart.</p>
      <a class="buttonstyle mt-5" (click)="clicked()">CHECK OUR PRICES</a>
    </div>
    <div class="flex-grow-1"></div>
  </div>

</div>
