<div id="bannerbg">
  <div class="p-5">
     <h1 class="titlecolor">
      Forget Everything You<br>
      Know About Insurance
     </h1>
     <p class="cotitle">Instant everything. No brainer prices. Big heart.</p>
     <a class="homebtn text-white mt-5" routerLink="/product">CHECK OUR PRICES</a>
     <div class="row bannerimage">
        <div class="col-4">
          <img id="bannerimgleft" src="assets/home-left-35e4ff48b1abcefd87e665c7ae7d9945.svg" alt="">
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <img id="bannerimgright" src="assets/home-right-8e4273250df741758be48d9efb95ff1a.svg" alt="">
        </div>
     </div>
  </div>
</div>
