<div id="bannerbg">
  <div class="p-5">
    <h1 class="titlecolor">
      Forget Everything You<br>
      Know About Insurance
    </h1>
    <p class="cotitle">Instant everything. No brainer prices. Big heart.</p>
    <!-- <a class="homebtn mt-5">CHECK OUR PRICES</a> -->
    <div class="h01row">
      <div class="">
        <!-- <img class="banerimgstyle" id="bannerimgleft" src="assets/home-left-35e4ff48b1abcefd87e665c7ae7d9945.svg"  alt=""> -->
        <img class="banerimgstyle"  id="bannerimgleft"src="assets/h1img_left.jpg" alt="">
      </div>
      <div class="">
        <a class="homebtn mt-5 ml-5" (click)="ds.gotopage(1)">CHECK OUR PRICES</a>
      </div>
      <div class="">
        <!-- <img class="banerimgstyle" id="bannerimgright" src="assets/home-right-8e4273250df741758be48d9efb95ff1a.svg" alt=""> -->
        <img class="banerimgstyle" id="bannerimgright" src="assets/h1img_right.jpg" alt="">
      </div>
    </div>
  </div>
</div>
