#bannerbg{
  background-image: url('../../../assets/bg-clouds-2-6dcdd0a252148447204022d42385e0df.png');
  height: auto;
}
.titlecolor{
  color: var(--accent2);
  font-family: var(--fontfamily);
  font-weight: 4000;
  text-align: center;
  font-size: 3.1rem;
  line-height: 1.3;
}
.cotitle{
  color: var(--accent2);
  font-family: var(--fontfamily);
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  line-height: 4em;
}


.homebtn{
  position: relative;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 15px;
  font-size: 13px;
  border-radius: 5px;
  color: var(--accent2);
  background-color: var(--accent1);
  box-shadow: var(--accent1);
  margin: auto;
  display: table;
  z-index: 1;
  margin-top: 0em;
  //top: -1.2em;
}
#bannerimgleft {
  height: 19em;
  width: 100%;
  background-image: url('../../../assets/h1img_left.jpg');
}
#bannerimgright{
  height: 19em;
  width: 100%;
  background-image: url('../../../assets/h1img_right.jpg');
}
