<div class="pt-5">
  <div class="mt-4">
    <h2 class="maintitle">Is it your primary residence?</h2>
    <div class="row justify-content-center p-2">
      <div class="col-lg-3 col-xs-6 p-3">
        <div style="text-align: center;">
          <mdb-card *ngFor="let val of ['Yes', 'No']" class="mb-3">
            <mdb-card-body class="primaryresidence" (click)="changed(c04divselect.value);valueSelected = val">
              <div class="form-check form-check-inline">
                <input #c04divselect class="form-check-input" type="radio" (change)="changed($event.target.value)"  value="{{val}}" name="members" id="{{val}}" [checked]="val === valueSelected">
                <label class="form-check-label" for="{{val}}">{{val}}</label>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
    <div class="container p-2">
      <div class="row justify-content-center">
        <div class="col-6">
          <!-- <div class="messagepart messagetitle" *ngIf=showMsg>
            <span></span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="p-2 text-center">
      <button mdbBtn class="buttonstyle text-white" mdbWavesEffect [disabled]=buttDisabled (click)="clicked()">Next</button>
    </div>
  </div>
</div>
