#horLine {
  background: black;
  height: 1px;
  width: 70%;
  margin: 58px 15%;
}
#imgmaya {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translate(-50%);
}
#topmarg {
  height: 1px;
  width: 100%;
}
