.watermark {
  position: relative;
  top: 1em;
  right: -26em;
  height: 11em !important;
  width: 11em !important;
  border-radius: 50% !important;
  border: 0.1em solid #b7b7b7;
  border-style: double;
  border-width: 0.6em;
}
.watermarktext {
  position: relative;
  top: 2em;
  left: 0.7em;
  color: #b7b7b7;
  transform: rotate(20deg);
  font-size: 2em;
  font-weight: 700;
}

.quotessections {
  position: relative;
  margin: auto;
}

.centerdiv {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.logo {
  background: transparent url("../../assets/logo.svg") no-repeat 0 0;
}
.logo.center {
  display: inline-block;
  height: 20px;
  width: 92px;
  background-size: 92px 20px;
  position: absolute;
  margin-left: 0;
  top: calc(50% - 10px);
  left: calc(50% - 49px);
  z-index: 1;
}
.ptdetail {
  font-size: 0.8em;
  text-align: left;
  font-weight: 700;
  color: rgb(87, 83, 83);
}
.ptrecord {
  font-size: 1.1em;
  color: black;
}
#belowlogo {
  font-size: 0.8em;
  color: #575353;
  position: relative;
  top: -14em;
}
#imgstyle {
  height: 11em;
  width: 17em;
}

.pagecontent {
  position: relative;
  top: -7em;
  left: 2em;
}
.page2detail {
  position: relative;
  top: -9.8em;
}
.pagetitle h1 {
  color: rgb(61, 60, 60);
  font-size: 4.5em;
}
.pagegape {
  position: relative;
  padding: 10em;
}
.pagefooter {
  position: relative;
  padding-top: -2em;
  padding: 5em;
}
.footertext {
  font-size: 0.6em;
  color: black;
  font-weight: 600;
}

//need to add
.datatitle {
  position: relative;
  background-color: #cac5c5;
  text-align: center;
  padding: 1.2em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: 700;
  font-size: 0.8em;
}
.tborderquotes {
  border-bottom: 1px solid #ccc;
  margin-left: 2.8em;
  margin-right: 2.8em;
}
#tableheadfont {
  font-size: 0.6em;
}
#parafont {
  top: 0.7em;
  font-size: 0.8em;
  margin-left: 2.8em;
  margin-right: 2.8em;
}
.payButt {
  position: fixed;
  right: 3em;
  bottom: 2em;
  z-index: 100;
}
