<div class="text-center pt-5">
  <div class="mt-4">
    <h2 class="maintitle">Alright {{this.ds.allData.c01name.firstName}}! Let's get you a quote</h2>

     <form [formGroup]="moreDetails" class="container pt-3">
      <div class="center_div">
        <div class="container">
          <div id="c09emailhover">
            <div class="input-field row m-3">
              <div class="col-2">
                <mdb-icon far icon="envelope" class="icon"></mdb-icon>
              </div>
              <div class="col-10">
                <input class="form-control border border-white text-left" style="font-size:0.9em;" type="text"
                  placeholder="EMAIL ADDRESS" formControlName="email" required>
              </div>
            </div>
          </div>
          <div class="input-field row m-3">
            <div class="col-5" style="display:inline-block;">
              <mdb-icon fas icon="birthday-cake" class="icon"></mdb-icon>Date of birth
            </div>
            <div class="col-7">
              <!-- <div class="row"> -->
                <!-- <div class="col-4">
                  <input type="text" class="form-control" formControlName='date' placeholder="DD">
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" formControlName='month' placeholder="MM">
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" formControlName='year' placeholder="YYYY">
                </div> -->
                <input class="form-control" type="date" formControlName="dob" required>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <div class="pt-0 center_div">
          <div class="pt-3">
            <input type="checkbox" class="checkbox" formControlName="receivediscount">
            <span class="lineheight_div">I agree to receive updates and discount offers</span>
          </div>
          <div class="pt-3">
            <input type="checkbox" class="checkbox" formControlName="privacyterm">
            <span class="lineheight_div">I agree to the
              <a class="termscolor">privacy policy</a> &
              <a class="termscolor" (click)='termandcondition.show()'>terms of
                service</a>
            </span>
          </div>
        </div>

        <div class="mt-5 center_div">
          <button mdbBtn class="{{(moreDetails.valid)?'buttonstyle':'disablestyle'}}" (click)="clicked()" mdbWavesEffect
            [disabled]="!moreDetails.valid">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div mdbModal #termandcondition="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border border-white">
        <button type="button" class="close pull-right" aria-label="Close" (click)="termandcondition.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-center p-2">
        <div>
          <iframe class="border border-white" src="assets/lemonade_termservice.html" height="450" width="100%"></iframe>
        </div>
      </div>
      <div class="modal-footer border border-white">
        <div style="display:table;margin:auto">
          <button mdbBtn size="lg" class="text-dark font-weight-bold termbtn"
            (click)="termandcondition.hide()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
