.draftinfo{
  color:#4A4A4A;
  font-size: 0.7em;
}

.insurecardbutton {
  position: relative;
  left:0em;
  right:0em;
  width:15.8em;
  padding:0.6em;
  background-color: #ff0083;
  box-shadow: rgba(255, 0, 131, 0.5) 0px 10px 40px -10px;
  border-radius: 5px;
  border-color: transparent;
  font-weight     : 700;
}

.cardinsurecardbutton :hover {
  background-color: rgba(255, 0, 131, 0.5) 0px 10px 40px -10px;
}
