.icn-peril{
  content: "";
  // background: transparent url(https://www.lemonade.com/assets/desktop-onboarding/icn-sprite-perils-68.png) no-repeat 0 0;
  background-size: 466px 375px; position: relative; z-index: 1; display: block; overflow: hidden; top: -17px; left: 208px; width: 68px; height: 68px;
}
