<section class="p-5">
  <div class="mb-5">
    <h1 class="maintitle text-center">What's Covered</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 p-5" *ngFor="let item of whatscovered">
      <div class="text-center">
        <i class="icn-peril" style="background-size: 466px 375px; position: relative; z-index: 1; display: block; overflow: hidden; top: -17px; left: 208px; width: 68px; height: 68px; background: transparent url(https://www.lemonade.com/assets/desktop-onboarding/icn-sprite-perils-68.png) no-repeat {{item.x}} {{item.y}};"></i>
      </div>
      <div class="pt-2">
        <h5 class="cardtitle">{{item.text | uppercase}}</h5>
      </div>
      <div class="pt-2">
        <h4 class="cardtext text-center pl-3 pr-3">{{item.description}}</h4>
      </div>
      <div class="pt-4">
        <hr style="border-top:0.1em dashed rgb(183, 183, 183);">
      </div>
    </div>
  </div>
</section>
