<section>
  <div class="p-4">
    <h2 class="maintitle text-center p-3">
      Activate Your Insurance
    </h2>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-3">
          <button type="button" class="cardbutton text-white">PAY 33,00 € / MONTH</button>
          <div class="mt-4">
            <div class="">
              <label style="color:#4A4A4A;font-size: 0.7em;" class="pr-1">Start Date</label>
              <div class="btn-group" mdbDropdown>
                <button mdbDropdownToggle mdbBtn color="white" size="md" class="dropdown-toggle waves-light"
                  type="button" mdbWavesEffect>
                  DD.MM.YYYY
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2 draftinfo text-center mt-3">
        You can download your draft policy and other legal documents <a class="higlighttext">here</a>
      </div>
    </div>
  </div>
</section>
