<div class="">
  <h1 class="titlecolor pt-5 pb-5">
    Already Insured? Switch to Lemonade Instantly
  </h1>
  <p class="cotitle pt-5 pb-5">
    People left these insurance companies to join Lemonade:
  </p>
  <div class="imgbg">
    <img src="assets/bg-switching-b0b1159119a0cbe1bd073ea3c2bbdeb4.png" class="styleimg" alt="">
  </div>
  <a class="homebtn text-white mt-5" routerLink='/c01name'>CHECK PRICES AND SWITCH</a>
</div>
<div class="mt-5" style="background-color: rgb(216, 211, 211);height:0.1em;margin:0.2em"></div>
