<div class="bgofsection">
  <h1 class="titlecolor pt-5 pb-5">
    How Lemonade Works
  </h1>
  <pre class="cotitle pt-4 pb-5">
    Lemonade reverses the traditional insurance model. We treat the premiums you pay as if it's your money, not ours. With
    Lemonade, everything becomes simple and transparent. We take a flat fee, pay claims super fast, and <span>give back</span> what’s left
    to causes you care about.*
  </pre>
  <div class="imgbg">
    <img src="assets/h08img.jpg" alt="">
  </div>
  <div class="mt-5 mb-5 text-center text-white h08bottom">
    * Subject to board discretion and the company meeting certain financial standards
  </div>
</div>
