<div class="">
  <h1 class="titlecolor pt-5 pb-5">
    How OurInsurers Works
  </h1>
  <pre class="cotitle pt-4 pb-5">
    OurInsurers reverses the traditional insurance model. We treat the premiums you pay as if it's your money, not ours. With
    OurInsurers, everything becomes simple and transparent. We take a flat fee, pay claims super fast, and <span style="color:rgb(220, 0, 115)">give back</span> what’s left
    to causes you care about.*
  </pre>
  <div class="divcenter">
    <!-- <img src="assets/Pizza_Desktop_en-US-20ad7ce79ec9ced64eb608053c603741.svg" alt=""> -->
    <img src="assets/h08img.jpg" alt="">
  </div>
  <div class="mt-5 mb-5 text-center">
    * Subject to board discretion and the company meeting certain financial standards
  </div>
</div>
