.titlecolor{
  color: rgb(74, 74, 74);
  display: table;
  margin:auto;
  font-size: 3rem;
  line-height: 1.3;
  font-family: Merriweather, Georgia, serif;
  font-weight: 5000;
}
.cotitle{
  text-align: center;
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-weight: 4000;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: rgb(74, 74, 74);
}
.img{
  display: table;
  margin: auto;
}
.imgsrc{
  position: relative;
  width: 51em;
  padding:7em;
  padding: 3em;
}

//Marquee card css
.cardrating{
  margin: 0.7em;
  display: inline-block;
  background: white;
  height: 195px;
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 12px 0px, rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
  border-radius: 1em;
  padding: 1.5em;
  box-sizing: content-box;
}
.carduserdiv{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.carduserpic{
  width: 4.4rem;
    height: 4.4rem;
    padding: 2px;
    position: relative;
    top: -5px;
    border-radius: 50%;
}
.carduserinfo{
  box-sizing: border-box;
  padding-left: 10px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}
.carduserinfo_name{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.2rem;
  font-weight: 700;
}
.carduserinfo_id{
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 0.2rem;
  font-weight: 700;
  color: #b7b7b7;
}
