<div class="lightbghome">
  <h1 class="titlecolor pt-5">
    The (Almost) 5 Star Insurance Company
  </h1>
  <p class="cotitle pt-4">
    Lemonade has earned 4.9 stars in the App store and on Google Play, and is also<br>
    top-rated by Supermoney, Clearsurance, and others
  </p>
  <div class="img">
    <img src='../../assets/pink_5_stars_large-cb51595d7397758318705c616ea472ff.png' class="imgsrc" alt="">
  </div>
  <div class="p-5">
    <marquee width="100%" direction="left" height="100%">
      <div class="cardrating">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-9"></div>
        </div>
      </div>
      <div class="cardrating">
        <div class="col-3"></div>
        <div class="col-9"></div>
      </div>
    </marquee>
  </div>
</div>
