<div class="lightbghome">
  <h1 class="titlecolor text-center pt-5">
    What People Are Saying About Us
  </h1>
  <div class="p-5">
    <marquee width="100%" direction="left" height="100%">
      <div class="cardrating" *ngFor='let item of reelrating'>
        <div class="carduserdiv">
          <img src={{item.img}} alt="Img not found" class="carduserpic">
          <div class="carduserinfo">
            <p class="carduserinfo_name">{{item.name}}</p>
            <p class="carduserinfo_id">{{item.id}}</p>
          </div>
        </div>
      </div>
    </marquee>
  </div>
</div>
