<div class="quotessection">

  <div class="leftimg">
    <img src="assets/NY-0f99d0c22a44484e5ef5302c157dccf71abdacb7a4f312aa4e93cd65dbe8a6d1.png" class="imgsrc">
  </div>
  <div class="quotesdiv">
    <div class="p-2">
      <h1 class="maintitle">{{dataservice.allData.c01name.firstName}}, here's your insurance quote</h1>
      <h5 class="cardtext text-center">H.no- {{dataservice.allData.c02address.housenumber}} {{dataservice.allData.c02address.address}}</h5>
    </div>
    <div class="mt-2">
      <div class="row justify-content-center pt-4">
        <div class="col-2">
          <div class="quotescircle">
            <div>
              <h1 class="quoterate">{{dataservice.allData.c00plan.price}}<sup>.3</sup>€</h1>
              <small class="font-weight-bold">PER MONTH {{devicesize}}</small>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row justify-content-center p-4">
          <div class="col-4">
            <div class="pt-2">
              <div class="row">
                <div class="col-4">
                  <h6 class="text-right font-weight-bold" style="color:gray;line-height: 2em;">Start Date</h6>
                </div>
                <div class="col-6">
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      <!-- <div class="row justify-content-center pt-4">
          <a class="cardbutton text-white">PAY {{dataservice.allData.c00plan.price}}€ /MONTH</a>
        </div> -->
      <!-- <div class="text-center pt-4">
          <h6 style="font-family: 28px Lato, 'Helvetica Neue', Arial, sans-serif;">
          <span class="htext" routerLink="/c14pdf"> Download quote </span>
          </h6>
        </div> -->
    </div>
  </div>
  <div class="rightimg">
    <img src="assets/NY-0f99d0c22a44484e5ef5302c157dccf71abdacb7a4f312aa4e93cd65dbe8a6d1.png" class="imgsrc">
  </div>
</div>
