<div class="quotessection">

  <div class="leftimg">
    <img src="assets/NY-0f99d0c22a44484e5ef5302c157dccf71abdacb7a4f312aa4e93cd65dbe8a6d1.png" class="imgsrc">
  </div>
  <div class="quotesdiv">
    <div class="p-2">
      <h1 class="maintitle">{{ds.allData.c01name.firstName}}, here's your insurance quote</h1>
      <h5 class="cardtext text-center">H.no- {{ds.allData.c02address.housenumber}} {{ds.allData.c02address.address}}</h5>
    </div>
    <div class="mt-2">
      <div class="row justify-content-center pt-4">
        <div class="col-2">
          <div class="quotescircle">
            <div>
              <h1 class="quoterate">{{ds.allData.home.price}}<sup>.3</sup>€</h1>
              <small class="font-weight-bold">PER MONTH {{devicesize}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightimg">
    <img src="assets/NY-0f99d0c22a44484e5ef5302c157dccf71abdacb7a4f312aa4e93cd65dbe8a6d1.png" class="imgsrc">
  </div>
</div>
