$accent1: #00acee;
$accent2: #15202a;
:root {
  --accent1: #00acee;
  --accent2: #15202a;
}

body {
  box-sizing: content-box;
  overflow-x: hidden;
}

.backtoCpmponent {
  position: absolute;
  left: 2em;
  top: 3em;
  color: lightgray;
  font-size: 2.6em;
  z-index: 1;
}

input[type="radio"]:after {
  width: 25px !important;
  height: 25px !important;
  border-radius: 15px !important;
  top: -2px !important;
  left: -1px !important;
  position: relative !important;
  background-color: white !important;
  content: "";
  display: inline-block !important;
  visibility: visible !important;
  border: 1px solid gray !important;
  padding: 0.3em;
}

input[type="checkbox"]:after {
  width: 25px !important;
  height: 25px !important;
  top: -2px !important;
  left: -1px !important;
  position: relative !important;
  background-color: white !important;
  content: "";
  display: inline-block !important;
  visibility: visible !important;
  border: 1px solid gray !important;
  padding: 0.3em;
}

/* Card css for global use*/
.maintitle {
  line-height: 1.3;
  color: rgb(74, 74, 74);
  font-family: Merriweather, Georgia, serif;
  text-align: center;
}

.bcktitle {
  background-color: var(--accent1);
}

.cardouter {
  box-sizing: border-box;
  display: flex;
  width: 320px;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 400;
  flex-flow: column;
  border-radius: 12px;
  padding: 29px 38px;
  margin: 20px;
}

.cardtitle {
  position: relative;
  font-weight: 400;
  line-height: 1.9rem;
  white-space: pre;
  text-align: center;
  font-family: 30px Lato, "Helvetica Neue", Arial, sans-serif;
  color: #4a4a4a;
}

.cardtext {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  color: rgb(183, 183, 183);
}

.cardprice {
  color: #4a4a4a;
  font-family: Merriweather, Georgia, serif;
  font-size: 5.1rem;
  line-height: 7.7rem;
  font-weight: 500;
}

.whitetext {
  color: white;
}

.iconimg {
  height: 6em;
  width: 6em;
  z-index: 1;
}

/* Project Theme */

//common css for theme
//button effect

.buttonstyle {
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  outline: none;
  text-decoration: none;
  padding: 15px 60px 15px 60px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  transition: all 0.3s ease 0s, transform 0.5s ease 0s;
  background-color: var(--accent1);
  // box-shadow: '#{$accent1}bb'
}

.hrline {
  background-color: var(--accent2) !important;
  height: 1.3px;
}

input[type="radio"]:after {
  width: 25px !important;
  height: 25px !important;
  border-radius: 15px !important;
  top: -2px !important;
  left: -1px !important;
  position: relative !important;
  background-color: white !important;
  content: "";
  display: inline-block !important;
  visibility: visible !important;
  border: 1px solid gray !important;
  padding: 0.3em;
}

input[type='radio']:checked:after {
  width: 25px !important;
  height: 25px !important;
  border-radius: 15px !important;
  top: -2px !important;
  left: -1px !important;
  position: relative !important;
  background-color: #09233C !important;
  display: inline-block !important;
  visibility: visible !important;
  border: 1px solid gray!important;
  padding:0.3em
}