/* You can add global styles to this file, and also import other style files */
body {
    box-sizing : content-box;
    overflow-x: hidden;
}
.backtoCpmponent{
    position: absolute;
    left: 2em;
    top: 2em;
    color: lightgray;
    font-size: 3em;
}

input[type='radio']:after {
    width: 25px !important;
    height: 25px !important;
    border-radius: 15px !important;
    top: -2px !important;
    left: -1px !important;
    position: relative !important;
    background-color: white !important;
    content: "";
    display: inline-block !important;
    visibility: visible !important;
    border: 1px solid gray!important;
    padding:0.3em
}

input[type='radio']:checked:after {
    width: 25px !important;
    height: 25px !important;
    border-radius: 15px !important;
    top: -2px !important;
    left: -1px !important;
    position: relative !important;
    background-color: rgb(255, 0, 131) !important;
    content: "";
    display: inline-block !important;
    visibility: visible !important;
    border: 1px solid gray!important;
    padding:0.3em
}

input[type='checkbox']:after {
    width: 25px !important;
    height: 25px !important;
    top: -2px !important;
    left: -1px !important;
    position: relative !important;
    background-color: white !important;
    content: "";
    display: inline-block !important;
    visibility: visible !important;
    border: 1px solid gray!important;
    padding:0.3em
}

input[type='checkbox']:checked:after {
    width: 25px !important;
    height: 25px !important;
    top: -2px !important;
    left: -1px !important;
    position: relative !important;
    content: "✔";
    font-size: 21px;
    font-family: bold;
    color:rgb(255, 0, 131) !important;
    display: inline-block !important;
    visibility: visible !important;
    border: 1px solid gray!important;
    padding:0.3em
}

.inputtexthover:hover {
    border: 0.2em solid rgb(255, 0, 131);
}

/* Card css for global use refrence by https://www.lemonade.com */
.maintitle {
    line-height: 1.3;
    color: rgb(74, 74, 74);
    font-family: Merriweather, Georgia, serif;
    text-align : center;
}



.cardouter {
    box-sizing       : border-box;
    display          : flex;
    width            : 320px;
    -webkit-box-align: center;
    align-items      : center;
    background-color : rgb(247, 247, 247);
    box-shadow       : rgba(0, 0, 0, 0.16) 0px 47px 46px -27px;
    font-family      : Lato, "Helvetica Neue", Arial, sans-serif;
    font-size        : 1.6rem;
    line-height      : 1.3;
    font-weight      : 400;
    flex-flow        : column;
    border-radius    : 12px;
    padding          : 29px 38px;
    margin           : 20px;
}

.cardtitle {
    position   : relative;
    font-weight: 400;
    line-height: 1.9rem;
    white-space: pre;
    text-align : center;
    font-family: 30px Lato, "Helvetica Neue", Arial, sans-serif;
    color      : #4A4A4A;
}

.cardtext {
    font-weight: 400;
    font-size  : 1rem;
    line-height: 1.3;
    color      : rgb(183, 183, 183);
}

.cardprice {
    color      : #4A4A4A;
    font-family: Merriweather, Georgia, serif;
    font-size  : 5.1rem;
    line-height: 7.7rem;
    font-weight: 500;
}

.whitetext {
    color: white;
}

.cardbutton {

    font-family     : Lato, "Helvetica Neue", Arial, sans-serif;
    line-height     : 1.3;
    font-weight     : 700;
    text-align      : center;
    cursor          : pointer;
    text-transform  : uppercase;
    position        : relative;
    white-space     : nowrap;
    font-size       : 14px;
    background-color: rgb(255, 0, 131);
    box-shadow      : rgba(255, 0, 131, 0.5) 0px 20px 40px -10px;
    outline         : none;
    text-decoration : none;
    padding     : 15px 60px 15px 60px;
    border-radius   : 5px;
    border-width    : 1px;
    border-style    : solid;
    border-color    : transparent;
    border-image    : initial;
    transition      : all 0.3s ease 0s, transform 0.5s ease 0s;

}

.cardbutton :hover {
    background-color: rgba(255, 0, 131, 0.5) 0px 10px 40px -10px;
}

.iconimg{
    height:6em;
    width:6em;
    z-index: 1;
}

.buttoneffect{
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 131);
    min-width: 178px;
    outline: none;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: all 0.3s ease 0s, transform 0.5s ease 0s;
}
