<div>
  <app-h01-banner></app-h01-banner>
  <app-h02-clients *ngIf=false></app-h02-clients>
  <app-h04-coverageprotects></app-h04-coverageprotects>
  <app-h05-instanteverything></app-h05-instanteverything>
  <app-h06-plansubscribe></app-h06-plansubscribe>
  <app-h03-rattinggreel *ngIf=false></app-h03-rattinggreel>
  <app-h07-alreadyinsured *ngIf=false></app-h07-alreadyinsured>
  <app-h08-howwork></app-h08-howwork>
  <app-h09-licensedcertification></app-h09-licensedcertification>
  <app-footer></app-footer>
</div>
