<div class="mt-5">
  <div mdbModal #resetmodal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
      <div class="modal-content" style="border-radius: 0.5em;">
        <div class="modal-header border-bottom border-white">
          <button type="button" class="close pull-right" aria-label="Close" (click)="resetmodal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h6 class="modal-title w-100 cardtitle font-weight-bold pt-2" id="myModalLabel">WANT TO START OVER</h6>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <p style="font-size: 1em;" class="cardtext">
              This will clear your answers and start again from the beginning
            </p>
          </div>
        </div>
        <div class="modal-footer border-top border-white">
          <div class="row">
            <div class="col-5">
              <button type="button" mdbBtn class="waves-light canclecss" (click)="resetmodal.hide()"
                mdbWavesEffect>CANCEL</button>
            </div>
            <div class="col-7">
              <button type="button" mdbBtn class="waves-light text-white resetcss {{dataservice.themeview.btn}}" (click)="dataservice.resetFunction();resetmodal.hide()" mdbWavesEffect>START OVER</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
