<div class="pt-5 text-center">
  <div class="mt-4">
    <h2 class="p-2 maintitle font-weight-bold">Who else lives in your home ?</h2>
    <div class="container p-2">
      <div class="row justify-content-center">
        <div class="col-2 mt-3 p-2 text-center" *ngFor='let item of membertypelist | keyvalue: asIs'>
          <div class="">
            <img class="iconimg" src='{{item.value.selectedview ? item.value.imgactive : item.value.img}}'>
          </div>

          <div>
            <span style="font-size:0.7em">{{item.value.title | uppercase}}</span>
          </div>

          <div class="form-check form-check-inline p-3">
            <input class="form-check-input" type="radio" name="members" id={{item.key}} value={{item.key}} (change)="changed(item.key)">
            <label class="form-check-label" for={{item.key}}></label>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-2">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="messagepart messagetitle" *ngIf=msgShow>
            <span>
              {{msgShow}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-2">
      <button mdbBtn class="buttonstyle text-white" (click)='clicked()' [disabled]='buttDisabled'>Next</button>
    </div>
  </div>
</div>